.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 12px;
}

.header_content {
  width: 100%;
  max-width: 1192px;
  display: flex;
  align-items: center;
  gap: 60px
}

.logo {
  width: 95px;
  height: 95px;
}

.nav_bar {
  width: calc(100% - 95px - 85px);
  display: flex;
  gap: 40px;
}

.nav {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-green);
}

.nav_active {
  color: var(--visited-green);
}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  min-width: 85px;
  height: 40px;
  background-color: var(--basic-green);
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  color: var(--basic-white);
  text-align: center;
}

.menu_btn {
  display: none;
  width: 24px;
  height: 24px;
  color: var(--basic-green);
}

.main_container {
  width: 100%;
  max-width: 1192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  padding-top: 32px;
  gap: 60px;
}

.filter_content {
  width: 100%;
  display: flex;
  gap: 150px;
}
.title{
  margin: 22px 0;
  color: var(--basic-green);
  letter-spacing: 6px;
  font-size: 24px;
  font-weight: 900;
}
.location {
  display: flex;
  gap: 16px;
}


.search_box{
  position: relative;
  display: flex;

}
.search_input {
  width: 227px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 8px 16px;
  background-color: #F6F6F6;
  box-sizing: border-box;
}

.search_btn {
  position: absolute;
  right:16px;
  height: 40px;
  color: var(--basic-grey);
display: flex;
align-items: center;
justify-content: center;

}

.decorate {
  display: flex;
  flex-flow: column-reverse;
}
.area{
  padding: 24px 0;
  box-sizing: border-box;
}
.check_box{
  min-width: 100px;
  padding: 11px 0;
  box-sizing: border-box;
}
.check_box label{
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
}
.area_content{
  display: flex;
  flex-wrap: wrap;
  gap:15px 24px;
}
.area_check_input{
  display: none;
}
.area_check_input+span{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 2px solid var(--basic-grey);
box-sizing: border-box;}
  .area_check_input:checked+span{
    
    border-color: transparent;
background-color: var(--basic-green);}
.area_check_input:checked+span:after{
  
  content: "done";
  font-size: 18px;
color: var(--basic-white);}
.info_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  overflow: hidden;
  border: 0.5px solid var(--basic-grey);
}

.info_theader {
  background-color: var(--basic-green);
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  color: var(--basic-white);
  font-size: 18px;
}

.info_tbody {
  width: 100%;
}

.info_tbody>div:nth-child(2n) {
  background-color: #F6F6F6;
}

.info_tr {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  color: var(--basic-black);
  font-size: 16px;
}

.info_theader div,
.info_tr div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.td_location,
.td_area {
  width: 12%;
}

.td_tot,
.td_sbi {
  width: 18%;
}

.info_tr .td_tot,
.info_tr .td_sbi {
  font-weight: 900;
  color: var(--basic-green);
}

.td_sna {
  width: 40%;
}

@media screen and (max-width: 768px) {

  .menu_btn {
    display: block;

  }
.location{
  flex-wrap: wrap;
}
  .decorate {
    display: none;
  }
}