.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 12px;
}

.header_content {
  width: 100%;
  max-width: 1192px;
  display: flex;
  align-items: center;
  gap: 0 60px
}

.logo {
  width: 95px;
  height: 95px;
}
.nav_bar_content{
  width: calc(100% - 95px );
  display: flex;
}
.nav_bar {
  width: calc(100% - 85px);
  display: flex;
  gap: 40px;
}

.nav {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--visited-green);
  cursor: pointer;
}

.nav_active {
  color: var(--basic-green);

}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 85px;
  height: 40px;
  background-color: var(--basic-green);
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  color: var(--basic-white);
  text-align: center;
}

.menu_btn {
  display: none;
  width: 24px;
  height: 24px;
  color: var(--basic-green);
}

@media screen and (max-width: 768px) {
  .header{
    height: 65px;
  }
  .header_content {
    position: fixed;
    z-index: 5;
    background-color: var(--basic-white);
    padding: 0 32px;
    justify-content: space-between;
  }
  .logo {
    width: 65px;
    height: 65px;
  }
  .nav_bar_content{
    display: none;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed; 
    background-color: var(--basic-green);
    top: 65px;
    left: 0;  
    z-index: 5;    
    padding: 0px 32px;
  }
  .nav_bar_content_active{
    display: block;
  }
  .nav_bar { 
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
  }

  .nav {
    width: 100%;
    background-color: var(--basic-green);
    color: var(--basic-white);
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .nav_active {
    color: var(--visited-green);
  }
  .login_btn {
    position: absolute;
    bottom: 120px;
    background-color: var(--basic-white);
    color: var(--basic-green);
  }
  .menu_btn {
    display: block;
  }
}