.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}

.main_container {
  width: 100%;
  max-width: 1192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  padding-top: 32px;
  gap: 24px 0;
}

.filter_content {
  width: 100%;
  display: flex;
  gap: 150px;
}

.title {
  margin: 22px 0;
  color: var(--basic-green);
  letter-spacing: 6px;
  font-size: 24px;
  font-weight: 900;
}

.location {
  display: flex;
  gap: 16px;
}



.decorate {
  display: flex;
  flex-flow: column-reverse;
}

.area {
  padding: 24px 0;
  box-sizing: border-box;
}

.check_box {
  min-width: 100px;
  padding: 11px 0;
  box-sizing: border-box;
}

.check_box label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
}

.area_content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 24px;
}

.area_check_input {
  display: none;
}

.area_check_input+span {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 2px solid var(--basic-grey);
  box-sizing: border-box;
}

.area_check_input:checked+span {
  border-color: transparent;
  background-color: var(--basic-green);
}

.area_check_input:checked+span:after {
  content: "done";
  font-size: 18px;
  color: var(--basic-white);
}

.info_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  overflow: hidden;
  border: 0.5px solid var(--basic-grey);
}

.info_theader {
  background-color: var(--basic-green);
  width: 100%;
  min-width: 530px;
  height: 66px;
  display: flex;
  align-items: center;
  color: var(--basic-white);
  font-size: 18px;
}

.info_tbody {
  width: 100%;
}

.info_tbody>div:nth-child(2n) {
  background-color: #F6F6F6;
}

.info_tr {
  width: 100%;
  min-width: 530px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
  font-size: 16px;
}

.info_theader .td_tot,
.info_theader .td_sbi,
.info_theader .td_sna,
.info_theader .td_area {
  cursor: pointer;
}

.info_theader div,
.info_tr div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.td_location,
.td_area {
  width: 12%;
  min-width: 80px;
}

.td_tot,
.td_sbi {
  width: 18%;
  min-width: 60px;
}

.info_tr .td_tot,
.info_tr .td_sbi {
  font-weight: 900;
  color: var(--basic-green);
}

.td_sna {
  width: 40%;
  min-width: 250px;
}

@media screen and (max-width: 768px) {

  .filter {
    width: 100%;

  }

  .location {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .decorate {
    display: none;
  }


  .info_content {
    overflow: scroll;
  }
}